@use '../utils/variables' as *;

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $light-background;
  padding: 1.5rem;
  border-radius: $radius;
  max-width: 600px;
  margin: 0 auto;

  input,
  textarea {
    padding: 0.7rem;
    border: 1px solid $border-color;
    border-radius: $radius;
    font-size: 1rem;
    width: 100%;
  }

  button {
    align-self: flex-end;
  }
}
